.bg-icon40 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -256px -10px;
}
.bg-icon41 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -256px -448px;
}
.bg-icon42 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -10px -229px;
}
.bg-icon43 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -256px -229px;
}
.bg-icon44 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -502px -10px;
}
.bg-icon45 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -502px -229px;
}
.bg-icon46 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -10px -448px;
}
.bg-icon47 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -10px -10px;
}
.bg-icon48 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -502px -448px;
}
.bg-icon49 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -748px -10px;
}
.bg-icon410 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -748px -229px;
}
.bg-icon411 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -748px -448px;
}
.bg-icon412 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -10px -667px;
}
.bg-icon413 {
    width: 226px; height: 199px;
    background: url('../img/icon_animal4.png') -256px -667px;
}

.bg-icon50 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -10px -10px;
}
.bg-icon51 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -226px -10px;
}
.bg-icon52 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -442px -10px;
}
.bg-icon53 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -10px -229px;
}
.bg-icon54 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -226px -229px;
}
.bg-icon55 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -442px -229px;
}
.bg-icon56 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -658px -10px;
}
.bg-icon57 {
    width: 196px; height: 199px;
    background: url('../img/icon_animal5.png') -658px -229px;
}

.bg-icon30 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -305px -10px;
}
.bg-icon31 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -305px -448px;
}
.bg-icon32 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -10px -229px;
}
.bg-icon33 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -305px -229px;
}
.bg-icon34 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -600px -10px;
}
.bg-icon35 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -600px -229px;
}
.bg-icon36 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -10px -448px;
}
.bg-icon37 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -10px -10px;
}
.bg-icon38 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -600px -448px;
}
.bg-icon39 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -10px -667px;
}
.bg-icon310 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -305px -667px;
}
.bg-icon311 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -600px -667px;
}
.bg-icon312 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -895px -10px;
}
.bg-icon313 {
    width: 275px; height: 199px;
    background: url('../img/icon_animal3.png') -895px -229px;
}
.bg-icon00 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -307px -10px;
}
.bg-icon01 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -10px -448px;
}
.bg-icon02 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -10px -229px;
}
.bg-icon03 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -307px -229px;
}
.bg-icon04 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -604px -10px;
}
.bg-icon05 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -604px -229px;
}
.bg-icon06 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -10px -10px;
}
.bg-icon07 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -307px -448px;
}
.bg-icon08 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -604px -448px;
}
.bg-icon09 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -10px -667px;
}
.bg-icon010 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -307px -667px;
}
.bg-icon011 {
    width: 277px; height: 199px;
    background: url('../img/icon_animal0.png') -604px -667px;
}
.bg-icon20 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -198px -10px;
}
.bg-icon21 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -574px -229px;
}
.bg-icon22 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -386px -10px;
}
.bg-icon23 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -10px -229px;
}
.bg-icon24 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -198px -229px;
}
.bg-icon25 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -386px -229px;
}
.bg-icon26 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -574px -10px;
}
.bg-icon27 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -10px -10px;
}
.bg-icon28 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -10px -448px;
}
.bg-icon29 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -198px -448px;
}
.bg-icon210 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -386px -448px;
}
.bg-icon211 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -574px -448px;
}
.bg-icon212 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -762px -10px;
}
.bg-icon213 {
    width: 168px; height: 199px;
    background: url('../img/icon_animal2.png') -762px -229px;
}
.bg-icon10 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -325px -10px;
}
.bg-icon11 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -325px -448px;
}
.bg-icon12 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -10px -229px;
}
.bg-icon13 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -325px -229px;
}
.bg-icon14 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -640px -10px;
}
.bg-icon15 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -640px -229px;
}
.bg-icon16 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -10px -448px;
}
.bg-icon17 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -10px -10px;
}
.bg-icon18 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -640px -448px;
}
.bg-icon19 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -10px -667px;
}
.bg-icon110 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -325px -667px;
}
.bg-icon111 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -640px -667px;
}
.bg-icon112 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -955px -10px;
}
.bg-icon113 {
    width: 295px; height: 199px;
    background: url('../img/icon_animal1.png') -955px -229px;
}
.bg-icon90 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -191px -10px;
}
.bg-icon91 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -553px -10px;
}
.bg-icon92 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -372px -10px;
}
.bg-icon93 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -10px -229px;
}
.bg-icon94 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -191px -229px;
}
.bg-icon95 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -372px -229px;
}
.bg-icon96 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -10px -10px;
}
.bg-icon97 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -553px -229px;
}
.bg-icon98 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -10px -448px;
}
.bg-icon99 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -191px -448px;
}
.bg-icon910 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -372px -448px;
}
.bg-icon911 {
    width: 161px; height: 199px;
    background: url('../img/icon_animal9.png') -553px -448px;
}
.bg-icon80 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -348px -10px;
}
.bg-icon81 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -686px -448px;
}
.bg-icon82 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -10px -229px;
}
.bg-icon83 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -348px -229px;
}
.bg-icon84 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -10px -448px;
}
.bg-icon85 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -348px -448px;
}
.bg-icon86 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -686px -10px;
}
.bg-icon87 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -686px -229px;
}
.bg-icon88 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -10px -10px;
}
.bg-icon89 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -10px -667px;
}
.bg-icon810 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -348px -667px;
}
.bg-icon811 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -686px -667px;
}
.bg-icon812 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -1024px -10px;
}
.bg-icon813 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -1024px -229px;
}
.bg-icon814 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -1024px -448px;
}
.bg-icon815 {
    width: 318px; height: 199px;
    background: url('../img/icon_animal8.png') -1024px -667px;
}
.bg-icon70 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -10px -10px;
}
.bg-icon71 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -220px -10px;
}
.bg-icon72 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -430px -10px;
}
.bg-icon73 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -10px -229px;
}
.bg-icon74 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -220px -229px;
}
.bg-icon75 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -430px -229px;
}
.bg-icon76 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -640px -10px;
}
.bg-icon77 {
    width: 190px; height: 199px;
    background: url('../img/icon_animal7.png') -640px -229px;
}
.bg-icon60 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -209px -10px;
}
.bg-icon61 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -607px -10px;
}
.bg-icon62 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -408px -10px;
}
.bg-icon63 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -10px -228px;
}
.bg-icon64 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -209px -228px;
}
.bg-icon65 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -408px -228px;
}
.bg-icon66 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -10px -10px;
}
.bg-icon67 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -607px -228px;
}
.bg-icon68 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -10px -446px;
}
.bg-icon69 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -209px -446px;
}
.bg-icon610 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -408px -446px;
}
.bg-icon611 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -607px -446px;
}
.bg-icon612 {
    width: 179px; height: 198px;
    background: url('../img/icon_animal6.png') -806px -10px;
}